*.zip
lexicon-task-music-player/backup
lexicon-task-music-player/Uppgift CSS Avancerad - Mediaspelaren Assets
lexicon-account-registration/Uppgift JS  - Account Registration.md
lexicon-tasks\lexicon-task-account-registration\Uppgift JS  - Account Registration (Lösningsförslag) 2.png
lexicon-tasks\lexicon-task-account-registration\Uppgift JS  - Account Registration (Lösningsförslag) 1.png
