*.zip
lexicon-task-music-player/backup
lexicon-task-music-player/Uppgift CSS Avancerad - Mediaspelaren Assets
lexicon-account-registration/Uppgift JS  - Account Registration.md
lexicon-task-account-registration/Uppgift JS  - Account Registration (Lösningsförslag) 1.png
lexicon-task-account-registration/Uppgift JS  - Account Registration (Lösningsförslag) 2.png
lexicon-task-account-registration/Uppgift JS  - Account Registration.md
lexicon-task-todo-list/Uppgift JS - Todo List (Lösningsförslag).png
lexicon-task-todo-list/Uppgift JS - Todo List.md
lexicon-task-hangman/exercise-javascript-hangman-main
lexicon-tasks/lexicon-task-catalog/exercise-starwars-catalog-main
lexicon-tasks/lexicon-task-api-bootcamp/exercise-API-bootcamp-main
lexicon-tasks/lexicon-task-punk-api/exercise-punk-api-main