html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; 
}


#todo-app::-webkit-scrollbar {
  width: 10px;
}

#todo-app::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#todo-app::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

#todo-app::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#todo-app h1 {
  margin: 0;
  margin-bottom: 20px;
}

#add-task {
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#clean-task {
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#todo-input {
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#todo-list li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 400px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
}

#todo-list li span {
  flex-grow: 1; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}

#todo-list li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto; 
  margin-right: 10px;
}