@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  /* background-color:  */
  font-family: 'Raleway', sans-serif;
  background-color: #111827;
  color: aliceblue;
  font-size: large;
}


header {
  padding: 5em;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h2, h3 {
 text-align: center;
}

p {
  text-align: center;
/* pad left right */
  padding: 0 10em;
}

ol {
  text-align: center;
  list-style-position: inside;
}
ul {
  text-align: center;
  list-style-type: none;
}

a {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em
}