* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  /* arial */

  background-color: gray;
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: #cfd8dc;
  padding: 0 10%;
  justify-content: flex-start;
}

.beer-icon-nav {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #f2f2f2;
}

nav ul li a.active {
  background-color: #333;
  color: #f2f2f2;
}

nav ul li a.active:hover {
  background-color: #f2f2f2;
  color: #333;
}

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 30rem; */
}

.landing-page h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
.card-random {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #546e7a;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  flex-wrap: wrap;
  /* width: 300px; */
  /* height: 300px; */
  height: 40rem;
  width: 64rem;
}
.random-beet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding: 2rem 0;
}

.random-beer-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.random-beer-info {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  overflow-y: auto;
}

/* style scroll */
.random-beer-info::-webkit-scrollbar {
  width: 10px;
}

.random-beer-info::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.random-beer-info::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.random-beer-view-more-btn {
  margin-top: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333;
  border: 2px solid #333;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.random-beer-view-more-btn:hover {
  background-color: #f2f2f2;
  color: #333;
}



.random-beer-btn {
  /* margin-top: 1rem; */
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333;
  border: 2px solid #333;
  color: #f2f2f2;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  max-width: fit-content;
}

.random-beer-btn:hover {
  background-color: #f2f2f2;
  color: #333;
}
