* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #34495E;
  --secondary-color: #7F8C8D;
  --tertiary-color: #2C3E50;
  --quaternary-color: #BDC3C7;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--quaternary-color);
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: var(--quaternary-color);
  padding: 0 10%;
  justify-content: flex-start;
}

.beer-icon-nav {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--tertiary-color);
  color: #f2f2f2;
}

nav ul li a.active {
  background-color: #333;
  color: #f2f2f2;
}

nav ul li a.active:hover {
  background-color: #f2f2f2;
  color: #333;
}

.clear-local-storage-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333;
  border: 2px solid #333;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin-left: 1rem;

  position: fixed;
  top: 10px;
  right: 10px;
}

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 30rem; */
  /* position: relative;
  top: -38px; */
}

.landing-page h2 {
  font-size: 2rem;
  margin: 1rem 0;
  /* position: relative;
  top: 72px;
  left: -397px;
  rotate: -29deg;
  width: 500px; */
}
.card-random {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);

  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 2rem;
  flex-wrap: wrap;
  /* width: 300px; */
  /* height: 300px; */
  height: 30rem;
  width: 45rem;
  /* width: auto; */
  /* overflow: auto; */
}

.card-random h3,
.card-random p {
  color: var(--quaternary-color);
  /* outline: 1px solid red; */
}

.random-beer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding: 2rem 0;
}
.random-beer-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.random-beer-info {
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 8px; */
  left: -38px;
  width: 24rem;
  height: 10px;
  /* height: 30rem; */
  /* overflow-y: auto; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.random-beer-info h2 {
  margin: 1rem 0;
}

.random-beer-info p {
  margin: 1rem 0;
}

/* style scroll */
.random-beer-info::-webkit-scrollbar {
  width: 10px;
}

.random-beer-info::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.random-beer-info::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.random-beer-view-more-btn {
  margin-top: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--quaternary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.random-beer-view-more-btn:hover {
  background-color: var(--primary-color);
  color: #333;
}

.random-beer-btn {
  /* margin-top: 1rem; */
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--quaternary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  max-width: fit-content;
}

.random-beer-btn:hover {
  background-color: var(--primary-color);
  color: #333;
}
/* modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 50%;
  border-radius: 20px;
  overflow-y: scroll;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.modal-text h2 {
  margin: 1rem 0;
}

.modal-text p {
  margin: 1rem 0;
}

.modal-content li {
  /* margin-left: 25px; */
  margin: 1rem 2rem;
}

/* search */
.search-page {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.search-page h2 {
  margin: 10px 10px;
  color: var(--primary-color);
}
.search-form {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px; */
}

.search-form label {
  font-size: 1.2em;
}

.search-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--quaternary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #444;
}

.search-results {
  list-style-type: none;
  padding: 0;
}

.dropdown {
  position: absolute;
  width: auto;
  /* top: 996px; */
  /* left: 19px; */
  background-color: white;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ddd #f0f0f0;
}
.dropdown::-webkit-scrollbar {
  width: 8px;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.dropdown li {
  width: 400px;
  padding: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

/* .beer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
} */

.beers {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ddd #f0f0f0;
  flex-wrap: wrap;
  height: 50vh;
  margin: 50px 0;
}
/* .beers h2 {
  margin: 1rem 0;
} */

/* .beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

} */

.beer-card {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  display: grid;
  grid-template-columns: 105px 100px;
  grid-template-rows: auto;
  grid-template-areas:
    "beerImg title title"
    "beerImg p p"
    "beerImg a a";

  width: 600px;
  height: auto;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* margin: 10px 0; */
}

.beer-card img {
  grid-area: beerImg;
  width: 100px;
  aspect-ratio: 1/2;
  object-fit: contain;
  border-radius: 50%;
  /* margin-bottom: 1rem; */
}

.beer-card h3 {
  position: relative;
  grid-area: title;
  margin: 1rem 0;
  margin: 0 0;
  /* outline: 1px solid red; */
  width: max-content;
  height: max-content;
  color: var(--quaternary-color);
}

.beer-card h3::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: -5px;
  width: 100%;
  background-color: #607d8b;
}

.beer-card p {
  grid-area: p;
  margin: 1rem 0;
  color: var(--quaternary-color);
}

.beer-card a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.beer-card a:hover {
  color: #304ffe; /* Change color on hover */
}
/* loader */

.loading-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 150px;
  height: 150px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #fff;
  animation: wave 5s linear infinite;
}
.loader:before {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.4);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
