/* flexbox and grid */

body {
  font-family: Arial, sans-serif;
  padding: 10rem 10rem;
}

.calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fe2c2c;
  color: white;
}

.prev-month,
.next-month {
  cursor: pointer;
  color: white;
}

button {
  background-color: #fe2c2c;
  border: none;
}

button:hover {
  background-color: #fe2c2c;
  opacity: 0.8;
}

.month-year {
  margin: 0;
}

.days-of-week {
  width: 100%;
  table-layout: fixed;
  background-color: gray;
}
.dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  justify-items: stretch;

  height: 400px;
}
.dates-grid span:nth-child(7n + 6),
.dates-grid span:nth-child(7n + 7) {
  background-color: #f0f0f0;
}

.dates-grid span {
  border: 1px solid gray;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
}

.old-month {
  color: gray;
}

.new-month {
  color: gray;
}

.old-month,
.curr-month,
.new-month {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .dates-grid span.highlighted-day {
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7);
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
} */

.dates-grid span.highlighted-day {
  border: 1px solid black; /* Change the color here */
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7);
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
}
