@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Fira+Sans");

/* #F17949 */
/* #FAB131 */
/* #C7DDEA */
/* */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: red;
}

h1,
h2 {
  font-family: "Frank Ruhl Libre", serif;
}

p {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  width: 30%;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header-con-one header-con-two "
    "header-con-one header-con-three";

  max-height: fit-content;
}

.header-con-one {
  background-color: #c7ddea;
  grid-area: header-con-one;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-text-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0 25px;
  /* background-color: red; */
  width: 65%;
  height: auto;
  transform: translateY(2%);
  /* padding: 50px 50px; */
  margin: 50px 50px;
}

.header-container h1 {
  font-size: 4rem;
  color: black;
  margin: 0 0 0 25px;
  display: inline-block;
}

.header-container p {
  font-size: 1.5rem;
  font-weight: 400;
  /* color: black; */
  margin: 0 25px;
  display: inline-block;
}

.highlight {
  color: white;
  font-weight: bold;
}
.header-btn {
  position: relative;
  top: 220px;
  left: 60px;
}
.header-container img {
  width: 60%;
  height: auto;
  margin: 0 0 0 300px;
}

.header-con-two {
  background-color: #f17949;
  grid-area: header-con-two;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-con-two h2,
.header-con-three h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin: 0 25px;
  display: inline-block;
}

.header-con-three {
  background-color: #fab131;
  grid-area: header-con-three;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 25px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* New section for shit */

#card-section {
  background: linear-gradient(#a9a19e 50%, #fab131 50%);
  background-size: 200%;
}

.card-first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "text-one text-two"
    "text-button text-two";
  margin: 0 25px;
}

.card-first-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "text-one text-two"
    "text-button text-two";
  margin: 0 25px;
}

.card-first-section h2 {
  grid: text-one;
  color: white;
  font-size: 4rem;
  padding: 5rem 5rem;
  margin-left: 4rem;
}

.card-first-section p {
  grid-area: text-two;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5rem 5rem;
  width: 442px;
}

.card-first-section button {
  grid-area: text-button;
  width: 20%;
  height: auto;
  transform: translate(85%, -150%);
  /* margin: 0 auto; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 25px;
  padding: 25px;
  margin-top: 4rem;
}
.picture {
  border-radius: 5%;
  overflow: hidden;
  margin-top: -50px;
}

.picture-one {
  background-color: #f7ddea;
}
.picture-two {
  background-color: #fab131;
}
.picture-three {
  background-color: #f17949;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.card-about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
  /* background-color: #fab131; */
}

.card-about-section h2 {
  color: white;
  font-size: 5rem;
}

.card-about-section p {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 40rem;
  white-space: pre;
}

/* card end */
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-gap: 20px;  */
}

.box {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.box-one,
.box-two,
.box-three,
.box-four,
.box-five,
.box-six {
  background-color: #c7ddea;
}

.box-one {
  font-size: 4rem;
}

.box-two {
  background-color: #ffffff;
}

.box-three {
  background-color: #ebebeb;
}

.box-four {
  background-color: #ffffff;
}

.box-five {
  background-color: #f17949;
}

.box-six {
  background-color: #ffffff;
}

.box h3 {
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  color: #999999;
  opacity: 0.8;
}

.box p {
  font-size: 25px;
  margin: 0 50px;
}

.take-me-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #a9a19e;
  width: 100%;
  height: 90px;
}

.take-me-up .material-symbols-outlined {
  font-size: 2rem;
}

.take-me-up h2 {
  text-align: center; 
}

.gray-box {
  background-color: gray;
  height: 350px;
}

.oh-hello-there {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #c7ddea;
  /* margin: 0 0 -24px 0; */
  flex-wrap: nowrap;
  /* height: 100%; */
}

.oh-hello-there h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  /* margin: 0 25px; */
  margin: 250px 200px;
  display: inline-block;
  color: black;
}

.oh-hello-there img {
  width: 20%;
  height: auto;
  margin: 0 100px;
  /* transform: translate(0, 0); */
  /* margin: 0 0 -24px 0; */
}

.nav-bar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 25px;
}

.form-mail {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  background-color: #a9a19e;
}

.form-mail h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin: 0 25px;
  display: inline-block;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 650px;
  /* padding: 0; */
  /* margin: 25px; */
}

.form-content input {
  margin: 10px 0;
  padding: 10px;
  width: 50%; 
  border-radius: 12px;
  border: none;
}

.form-content textarea {
  margin: 10px 0;
  padding: 10px;
  width: 50%; 
  height: 25%;
  border-radius: 12px;
  border: none;
}

.form-content button {
  width: 20%;
  height: auto;
  transform: translate(85%, 55%);
  margin: 0 auto;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url("https://v2cdn0.centralappstatic.com/provider/mapbox/io?u=aHR0cHM6Ly9hcGkubWFwYm94LmNvbS9zdHlsZXMvdjEvbWFwYm94L2RhcmstdjEwL3N0YXRpYy9waW4tcys3MzYxNWQoMi4zNDAxNjM2LDQ4Ljg1NTYwNjEpLzIuMzQwMTYzNiw0OC44NTUzNTYxLDEzLDAsMC8xMjAweDQwMEAyeD9sb2dvPWZhbHNl");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.visit-us {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #fab131;
  width: 30%;
  height: 50%;
  opacity: 0.9;
  border-radius: 12px;
  margin: 50px 50px;
}

.visit-us h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin: 0 25px;
  display: inline-block;
}

.visit-us p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin: 0 25px;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  /* Adjust the styles for phone layout here */
  .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header-con-one"
      "header-con-two"
      "header-con-three";
  }

  .header-con-one,
  .header-con-two,
  .header-con-three {
    margin: 0;
  }

  .header-container img {
    margin: 0;
  }
.header-btn {
  position: relative;
  top: 130px;
  left: 30px;
}
  .card-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 25px; */
  }

  .card-first-section h2 {
    color: white;
    font-size: 3rem;
    padding: 2rem 5rem 1rem; 
    margin-left: 4rem;
  }

  .card-first-section p {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 5rem 5rem; 
    width: 442px;
  }

  .card-about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    /* background-color: #fab131; */
  }

  .card-about-section h2 {
    color: white;
    font-size: 5rem;
    padding-bottom: 1rem; 
  }

  .card-about-section p {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 600px; 
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .visit-us {
    width: 100%;
    height: auto;
    margin: 25px;
  }

  .visit-us h2,
  .visit-us p {
    margin: 10px;
  }

  .box-text-header {
    width: 100%;
    margin: 25px;
  }

  .box-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card {
    width: 90%;
    margin: 10px;
  }

  .card-about-section h2 {
    margin: 10px;
  }

  .box-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box {
    height: 200px;
  }

  .box h2 {
    font-size: 3rem;
  }

  .box h3 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1rem;
  }

  .take-me-up {
    height: 100px;
  }

  .take-me-up .material-symbols-outlined {
    font-size: 1.5rem;
  }

  .take-me-up h2 {
    font-size: 1.5rem;
  }

  .gray-box {
    height: 200px;
  }

  .oh-hello-there {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #c7ddea;
    flex-wrap: nowrap;
  }

  .oh-hello-there h2 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin: 0 25px;
    display: inline-block;
    color: black;
  }

  .form-content {
    width: 90%;
    height: auto;
    margin: 10px;
  }

  .form-content input,
  .form-content textarea {
    width: 50%;
  }

  .form-content button {
    transform: none;
    margin: 10px auto;
    width: 30%;
  }

  .map {
    justify-content: center;
    margin: 10px;
  }
}
