* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#menu-hot,
#menu-juicy,
#menu-cozy {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-hot,
#menu-juicy {
  border-bottom: 10px solid rgb(139, 0, 0, 0.7);
}

h2 {
  font-size: 3em;
  color: white;
  font-family: "Spirax", sans-serif;
  color: red;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  font-family: "Poiret One", sans-serif;
  background-color: rgba(255, 0, 0, 0.4);
  padding: 1rem;
  margin-left: 100px;
  margin-right: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
  width: 100%;
  max-width: 600px;
}

p:nth-child(even) {
  margin-left: 100px;
  margin-right: 250px;
}

p:nth-child(odd) {
  margin-left: 250px;
  margin-right: 100px;
}

#menu-hot div,
#menu-juicy div,
#menu-cozy div {
  display: grid;
  grid-template-areas: "left right";
  justify-content: space-between;
  font-size: 1.5em;
  color: white;
  font-family: "Poiret One", sans-serif;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px 40px;
  width: 100%;
  max-width: 600px;
}

.left {
  grid-area: left;
  font-size: 1.5em;
  color: white;
  font-family: "Poiret One", sans-serif;
  font-size: 21px;
  font-weight: 500;
}
.right {
  grid-area: right;
  font-size: 1.5em;
  color: white;
  font-family: "Poiret One", sans-serif;
  font-size: 21px;
  font-weight: 500;
}
