#menu-hot {
background-image: url(../assets/hot.jpg);
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

#menu-hot h1 {
font-size: 3em;
color: white;
font-family: "Spirax", sans-serif;
}
  