html,
body {
  --btn-color: #0a846e;
  --brown-color: #9e6d52;
  --btn-color-pink: #b93857;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  /* width: 100%; */
  /* height: 100%; */
  align-items: center;
  /* margin: 20px; */
  padding: 0 0 10px 0;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-bottom: 2px solid #e7eceb;
}

.nav-links li a {
  text-decoration: none;
  color: var(--btn-color);
  font-weight: bold;
}

.header-picture {
  background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30rem;
}

.header-picture h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.your-planned-planting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: 25px;
  padding: 10px;
  width: 70%;
}

.plant-box {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  background-color: white;
}

.plant-box img {
  /* width: 20rem; */
  width: 100%;
  /* aspect-ratio: 1/2; */
  height: 15rem;

  /* max-height: 30rem; */

  object-fit: cover;
}

.plant-box .plant-top::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-image: url("assets/plant.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.plant-box .plant-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.plant-box .plant-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.remove-btn {
  background: var(--btn-color-pink);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;

  font-weight: bold;
  cursor: pointer;
}

.big-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.cute-frame-pic-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--brown-color);
  margin: 5rem 0 20px 0;
  width: 99%;
}

.footer-pic-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: 25px;
  padding: 10px;
  width: 70%;
}
