* {
  /* background-color: black; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  /* #0A846E set var for it button */
  --btn-color: #0a846e;
  --brown-color: #9e6d52;
}

.head-grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This will make the right column twice as wide as the left */
  grid-template-rows: 1fr 1fr; /* This will make the height of the two rows equal */
  grid-template-areas:
    "left-one right-one"
    "left-one right-two";
  justify-items: center; /* This will center the items horizontally */
  align-items: center; /* This will center the items vertically */
  border: 10px solid black;
  height: 100%;
  width: 100%;
}

.head-grid-con > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-one {
  grid-area: left-one;
  background-image: url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-one {
  grid-area: right-one;
  background-color: var(--brown-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-two {
  grid-area: right-two;
  background-color: var(--btn-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: red;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0px;
  padding: 0;
}
