html,
body {
  --btn-color: #0a846e;
  --brown-color: #9e6d52;
  --btn-color-pink: #b93857;

  margin: 0;
  padding: 0;
}

.head-grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left-one right-one"
    "left-one right-two";
  justify-items: center;
  align-items: center;
}

.grid-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-one {
  grid-area: left-one;
  background-image: url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right-one {
  grid-area: right-one;
  background-color: var(--brown-color);
}

.right-two {
  grid-area: right-two;
  background-color: var(--btn-color);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #e7eceb;
}

.nav-links li a {
  text-decoration: none;
  color: var(--btn-color);
  font-weight: bold;
}

.nav-links li a:hover {
  color: var(--brown-color);
}

.plan-hood {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.plan-box {
  display: flex;
  flex-direction: row;
}

.text-content {
  margin-left: 6rem;
}

.plan-hood h1 {
  grid-area: h1;
  color: var(--btn-color);
  font-size: 3rem;
  font-weight: bold;
}

.plan-hood p {
  grid-area: text;
  color: black;
  width: 22rem;
}

.plant-img-plan-hood {
  grid-area: img;
  display: inherit;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--btn-color);
  align-items: center;
  justify-content: center;
}

.plant-img-plan-hood img {
  height: 50%;
  width: auto;
  object-fit: cover;
}

.plan-box > img {
  background-color: var(--btn-color);
  border-radius: 50%;
}

.tips-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  transform: translate(210%, 20%);
  padding: 10px 30px;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.plan-box h2 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.a-line {
  border-bottom: 2px solid var(--btn-color);
  padding-bottom: 50px;
  width: 20%;
}

.planned {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  padding: 10px;
}

.plant-box {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  background-color: white;
}

.plant-box img {
  width: 99%;
  height: 15rem;
  object-fit: cover;
}

.plant-box .plant-top::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-image: url("assets/plant.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.plant-box .plant-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.plant-box .plant-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.remove-btn {
  background: var(--btn-color-pink);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;

  font-weight: bold;
  cursor: pointer;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 55px auto;
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.last-plant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 8rem;
}

.last-plant h2 {
  color: var(--btn-color);
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.last-plant p {
  color: black;
  width: 400px;
}

.last-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.last-plant-picture {
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--btn-color);
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}

.last-plant-picture img {
  height: 50%;
  width: auto;
  object-fit: cover;
  /* border-radius: 50%; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 50rem;
  width: 100%;
}

.footer-background {
  /* https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
  background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* scale: 0.8; */
}

.footer-background .footer-contact-left {
  background: rgba(0, 0, 0, 0.8);
}

.footer-background .footer-contact-right {
  background: rgba(25, 0, 255, 0.1);
}

.footer-contact-left h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 30%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  
}

.footer-contact-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  top: 71%;
  padding: 0 30px;
}
.footer-contact-bottom p {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-contact-bottom .material-icons {
  position: relative;
  top: 5px;
}

.footer-contact-bottom span {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.footer .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* margin: 10px auto; */
  padding: 30px;
  background-color: white;
  border: none;
}

.footer .footer-btn:hover {
  background-color: var(--btn-color);
  color: white;
}

@media only screen and (max-width: 600px) {
  .head-grid-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "left-one left-one"
      "right-one right-two";
    justify-items: center;
    align-items: center;
  }

  nav {
    position: absolute;
    top: -3rem;
    left: 16rem;
    background-image: url("assets/buger.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    width: auto;
    transform: scale(0.2);
  }

  .nav-links {
    opacity: 0;
  }

  .plan-hood {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .plan-hood h1 {
    font-size: 2rem;
  }
  .text-content {
    text-align: center;
    margin-left: 0;
    transform: translate(0, 0);
    width: 100%;
  }

  .plan-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .tips-btn {
    transform: translate(105%, 0);
    margin: 2rem 0;
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 10px 0;
  }

  .plant-box .plant-top::before {
    content: "";
    position: absolute;
    top: -55px;
    left: -2px;
    width: 100%;
    height: 100%;
    background-image: url("assets/plant.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    transform: scale(0.6); /* adjust as needed */
  }
  .plant-box h3,
  .plant-box p,
  .plant-box span {
    font-size: 1rem;
  }
  .remove-btn {
    all: unset;
    font-size: 0;
  }

  .remove-btn::before {
    content: "\1F5D1";
    color: var(--btn-color-pink);
    font-size: 1.3rem;
  }

  .plant-box img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  .last-plant {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .text-content-two {
    text-align: center;
    transform: translate(-20%, 0);
  }

  .last-btn {
    transform: translate(90%, 0);
    margin: 2rem 0;
  }

  .footer-background {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .footer-background .footer-contact-left {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
  }

  .footer-background .footer-contact-right {
    background: rgba(25, 0, 255, 0.1);
    height: 100%;
    width: 100%;
  }

  .footer-contact-left h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }

  .footer-contact-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    top: 41%;
  }
  .footer-contact-bottom p {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .footer-contact-bottom .material-icons {
    position: relative;
    top: 5px;
  }

  .footer-contact-bottom span {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .footer-contact-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .footer .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* margin: 10px auto; */
    padding: 30px;
    background-color: white;
    border: none;
  }

  .footer .footer-btn:hover {
    background-color: var(--btn-color);
    color: white;
  }
}
