body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}


/*   <p id="time-word"></p>
  <p id="time-num"></p>
<button>Show time in text</button>*/
 
.time-word {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: none;
}

.time-num {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;

}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #e0e0e0;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

